<!DOCTYPE html>
<html lnag="en">
<head>
	<meta charset="UTF-8">
	<title> Golden Number Academy </title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"/>
	<script type="text/javascript" scr="store.js" async></script>
	
	
	</head>
	<body>
		<div class="header">
		<div class="container">
			<div class="navbar">
			<div class="logo">
			<a href="/"><img src="/Imagens/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
                    <div class="dropdown">
                    <a href="#" class="fa fa-user-circle"></a>
                    <div class="dropdown-content">
                        <a href="/perfil">Perfil</a>
                        <a href="/password">Password</a>
                        <form action="/logout?_method=DELETE" method ="POST">
						<a href="/">Terminar Sessão</a>
						</form>
                    </div>
                    </div>					
				</ul>
			</nav>
		</div>
		</div>
		</div>
		
        <div class="homepage">
            <a href="/homepage"><p>Meus Produtos</p></a>
        </div>
		<div class="produt">
			<h2> Documentos </h2> 
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 1</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Pdfs/Aula 1- 09.09.2021.pdf">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 2</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 3</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 4</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 5</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 6</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 7</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 8</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 9</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Aula 10</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Aula </a>
                    <a href="#">Ficha de Exercicios </a>
                </div>
                </div>


                {{!-- <iframe src="/Pdfs/Aula 1- 09.09.2021.pdf" width="100%" height="500px"></iframe> download de pdfs --}}
                {{!-- <iframe src="/Pdfs/Aula 1- 09.09.2021.pdf#toolbar=0" width="100%" height="500px"></iframe> --}}  {{!--no download--}}
                {{!-- <iframe src="/videos/Aula 58 - Mat A.mp4#toolbar=0" width="100%" height="500px"></iframe> --}}
		</div>
	
	  


		

		

	<!-- rodapé -->
<div class="footer">
			<div class="container">
				<div id="contactos" class="row">
					<div class="footer-col-1"> 
					</div>
					<div class="footer-col-2">
					<h3> Fala connosco </h3>
						<!-- Add icon library -->
						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

						<!-- Add font awesome icons -->
						<a href="https://www.facebook.com/GoldenNumberAcademy" class="fa fa-facebook"></a>
						<a href="https://www.instagram.com/goldennumberacademy/" class="fa fa-instagram"></a>
						<a href="https://join.skype.com/invite/lfAyjBYL3q9h" class="fa fa-skype"></a>
						<a href="mailto:goldenumber@outlook.pt" class="fa fa-envelope"></a>
						<a href="https://wa.me/message/R3MTK6MOJ6LLB1" class="fa fa-whatsapp"></a>
					</div>
					<div class="footer-col-3"> </div>
				</div>
				<hr>
				<p class="copy"> Copyright 2021 - Golden Number Academy </p>
			</div>
		</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
	</html>

		

