<!DOCTYPE html>
<html lnag="en">
<head>
	<meta charset="UTF-8">
	<title> Golden Number Academy </title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"/>
	<script type="text/javascript" scr="store.js" async></script>
	
	
	</head>
	<body>
		<div class="header">
		<div class="container">
			<div class="navbar">
			<div class="logo">
			<a href="/"><img src="/Imagens/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
                    <div class="dropdown">
                    <a href="#" class="fa fa-user-circle"></a>
                    <div class="dropdown-content">
                        <a href="/perfil">Perfil</a>
                        <a href="/password">Password</a>
						<form action="/logout?_method=DELETE" method ="POST">
						<a href="/">Terminar Sessão</a>
						</form>
                    </div>
                    </div>					
				</ul>
			</nav>
		</div>
		</div>
		</div>
		

		<div class="produtos">
			<h2> Meus Produtos </h2>
				{{!-- <h2> Meus Produtos </h2>
				<div class="aligned">
				<div class="image">
					<img src="/Imagens/1.png" style="float: left;">
					<h4>Ensino Básico - 2ºciclo</h4>
				</div>
				</div>
				<div class="aligned">
				<div class="image">
					<img src="/Imagens/1.png" style="float: left;">
					<h4>Ensino Básico - 3ºciclo</h4>
				</div>
				</div>
				<div class="aligned">
				<div class="image">
					<img src="/Imagens/2.png" style="float: left;">
					<h4>Ensino Secundário</h4>
				</div>
				</div>
				<div class="aligned">
				<div class="image">
					<img src="/Imagens/3.png" style="float: left;">
					<h4>Ensino Universitário</h4>
				</div>
				</div> --}}
		</div>
	
	  


		

		

	<!-- rodapé -->
<div class="footer">
			<div class="container">
				<div id="contactos" class="row">
					<div class="footer-col-1"> 
					</div>
					<div class="footer-col-2">
					<h3> Fala connosco </h3>
						<!-- Add icon library -->
						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

						<!-- Add font awesome icons -->
						<a href="https://www.facebook.com/GoldenNumberAcademy" class="fa fa-facebook"></a>
						<a href="https://www.instagram.com/goldennumberacademy/" class="fa fa-instagram"></a>
						<a href="https://join.skype.com/invite/lfAyjBYL3q9h" class="fa fa-skype"></a>
						<a href="mailto:goldenumber@outlook.pt" class="fa fa-envelope"></a>
						<a href="https://wa.me/message/R3MTK6MOJ6LLB1" class="fa fa-whatsapp"></a>
					</div>
					<div class="footer-col-3"> </div>
				</div>
				<hr>
				<p class="copy"> Copyright 2021 - Golden Number Academy </p>
			</div>
		</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/landing_main.js"></script>
	</body>
	</html>

		

