	{{!-- <?php include_once 'header.php';
	?> --}}

<!DOCTYPE html>
<html lnag="en">
<head>
	<meta charset="UTF-8">
	<title> Golden Number Academy </title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"/>
	<script type="text/javascript" scr="store.js" async></script>
	
	
	</head>
	<body>
		<div class="header">
		<div class="container">
			<div class="navbar">
			<div class="logo">
				<a href="/"><img src="/Imagens/logo.png" width="125px"></a>
			</div>
			<nav>
				<input type="checkbox" id="check">
				<label for="check" class="checkbtn">
					<i class="fas fa-bars"></i>
				</label>
				<ul>
					<li><a href="/"> Início </a></li>
					<li><a href="/precario"> Preçário </a></li>
					<li><a href="/about"> Sobre nós</a></li>
					<li><a href="/contactform"> Contactos</a></li>
					<li><a href="/login"> Login</a></li>
					<li><a href="/registo"> Registo</a></li>
					<li class="cart">
						<a href="/cart" class="fa fa-shopping-bag"><span>0</span></a>
					</li>
					
				</ul>
			</nav>
		</div>
		</div>
		</div>

		<!--explicação -->
		<div class="aula">
			<div class="small-container">
				<h2> Como marcar uma explicação connosco: </h2>
				<p> 1. Preencher o <a id="cor" href="/contactform">formulário</a> de modo a fazer um pré-agendamento. </p>
				<p> 2. Quando tiver o OK da nossa parte realizar o <a id="cor" href="/precario">pagamento</a> até 24h antes da aula. </p>
				<p> 3. Responder à nossa mensagem de confirmação no dia anterior a cada aula. </p>
			</div>
		</div>

		

		<!--4 imagens -->
		<div class="categories">
			<div class="small-container">
			<div id="inicio"  class="row">
			<div class="col-4">
			<!-- <img src="Imagens/1.png"> -->
			<!-- <a href="basico.html" class="btn"> Sabe mais </a></div> -->
			<a href="/precario">
			<img src="/Imagens/1.png">
			</a>
			</div>
			<div class="col-4">
			<a href="/precario">
			<img src="/Imagens/2.png">
			</a>
			</div>
			<div class="col-4">
			<a href="/precario">
			<img src="/Imagens/3.png">
			</a>
			</div>
			<div class="col-4">
			<a href="/precario">
			<img src="/Imagens/4.png">
			</a>
			</div>

			</div>
			</div>
		</div>
		<!--testemunhos -->
		<div class="testimonial">
			<div class="small-container">
				<h2 class="title"> Testemunhos </h2>
				<div class="row">
					<div class="col-3">
				<i class="fa fa-quote-left"></i>
				<p> Deixo a nota que gostei muito da aula, e que acho o projeto incrível, uma forma simples e muito útil de nos tirarem as dúvidas. Acho mesmo que estes projetos devem ser divulgados e reconhecidos.
				</p>
				<h3> Aluna de Mestrado </h3>
					</div>
					<div class="col-3"> 
				<i class="fa fa-quote-left"></i>
				<p>
				Eu aconselho imenso, passaram imenso tempo a ajudar-nos! Tiveram muita paciência e explicaram tudo super bem! <br> Como é tudo 100% online é muito mais fácil! Foram muito prestáveis e imprescindíveis! Obrigada!
				</p>
				<h3> Inês Ribeiro - Criadora de Conteúdos </h3>
					</div>
					<div class="col-3"> 
				<i class="fa fa-quote-left"></i>
				<p>
				O curso de Latex é um curso curto e acessível a todos que inclui vários exemplos e vídeos, onde os conceitos são abordados de uma forma sucinta e objetiva. Com este curso consegui obter os conhecimentos básicos necessários para a produção de documentos e preparação de apresentações no LaTeX, em Overleaf e por isso, foi sem dúvida de encontro às minhas expectativas. Fico à espera de mais cursos!
				</p>
				<h3> Ana - Curso de Overleaf/Latex </h3>
					</div>
				</div>
			</div>
		</div>

	<!-- rodapé -->
<div class="footer">
			<div class="container">
				<div id="contactos" class="row">
					<div class="footer-col-1"> 
					</div>
					<div class="footer-col-2">
					<h3> Fala connosco </h3>
						<!-- Add icon library -->
						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

						<!-- Add font awesome icons -->
						<a href="https://www.facebook.com/GoldenNumberAcademy" class="fa fa-facebook"></a>
						<a href="https://www.instagram.com/goldennumberacademy/" class="fa fa-instagram"></a>
						<a href="https://join.skype.com/invite/lfAyjBYL3q9h" class="fa fa-skype"></a>
						<a href="mailto:goldenumber@outlook.pt" class="fa fa-envelope"></a>
						<a href="https://wa.me/message/R3MTK6MOJ6LLB1" class="fa fa-whatsapp"></a>
					</div>
					<div class="footer-col-3"> </div>
				</div>
				<hr>
				<p class="copy"> Copyright 2021 - Golden Number Academy </p>
			</div>
		</div>
<script type="text/javascript" src="/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	</body>
	</html>

		

